:root{
  --main-bg-color: #191919;
  --main-line-color:#E08027;
}
body{
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.flex-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content{
  width: 400px;
  height: 300px;
}
.e1{
  width: 30px;
  height: 50px;
  border: 5px solid var(--main-line-color);
  border-radius: 0px 0px 80px 60px;
  border-top:none;
  position: absolute;
  top: 82px;
  left: -29px;
  padding: 12px;
}
.e1::after{
  content:"";
  width: 24px;
  height: 48px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-radius: 0px 0px 50px 30px;
  border-top:none; 
}
.e2{
  width: 40px;
  height: 40px;
  border: 5px solid var(--main-line-color);
  position: absolute;
  border-radius: 100px 100px 0px 0px;
  border-bottom:none;
  top: 40px;
  left: 15px;
  padding: 10px;
}
.e2::after{
  content:"";
  width: 30px;
  height: 36px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-radius: 100px 100px 0px 0px;
  border-bottom: none; 
}
.e3{
  width: 40px;
  height: 160px;
  border: 5px solid var(--main-line-color);
  position: absolute;
  border-radius: 0px 0px 100px 100px;
  border-top: none;
  top: 75px;
  left: 65px;
  padding: 10px;
}
.e3::after{
  content:"";
  width: 30px;
  height: 156px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-radius: 0px 0px 100px 100px;
  border-top: none; 
}
.e4{
  width: 40px;
  height: 160px;
  border: 5px solid var(--main-line-color);
  position: absolute;
  border-radius: 100px 100px 0px 0px;
  border-bottom: none;
  top: 40px;
  left: 115px;
  padding: 10px;
}
.e4::after{
  content:"";
  width: 30px;
  height: 156px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-radius: 100px 100px 0px 0px;
  border-bottom: none; 
}
.e5{
  width: 40px;
  height: 40px;
  border: 5px solid var(--main-line-color);
  position: absolute;
  border-radius: 0px 0px 100px 100px;
  border-top: none;
  top: 195px;
  left: 165px;
  padding: 10px;
}
.e5::after{
  content:"";
  width: 30px;
  height: 36px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-radius: 0px 0px 100px 100px;
  border-top: none; 
}
.e6{
  width: 70px;
  height: 44px;
  border: 5px solid var(--main-line-color);
  position: absolute;
  border-top-left-radius: 35px;
  border-bottom: none;
  border-right: none;
  top: 140px;
  left: 215px;
  padding: 10px;
}
.e6::after{
  content:"";
  width: 65px;
  height: 40px;
  position: absolute;
  border: 5px solid var(--main-line-color);
  border-top-left-radius: 20px;
  border-bottom: none;
  border-right: none;
}
.e7{
  width: 42px;
  height: 22px;
  background-color: var(--main-line-color);
  border: 4px solid var(--main-line-color);
  position: absolute;
  border-radius: 20px 30px 30px 20px;
  left: 265px;
  top: 135px;
}
.e7-1{
  width: 10px;
  height: 10px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  margin: -2px 26px;
}
.e7-2{
  width: 10px;
  height: 10px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  margin: 7px 26px;
}










