:root{
	--main-bg: #191919;
	--face-color-top: #e3685f;
	--face-color-down: #A64942;
	--black-color: #000000;
}

body {
	background: var(--main-bg);
	height: 100vh;
	display: grid;
	place-items: center;
}

.hipo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cara-hipo {
	background: var(--face-color-top);
	width: 130px;
	height: 150px;
	border-radius: 60px 60px 0 0;
	position: relative;
}

.oreja {
	height: 20px;
	width: 10px;
	border: 5px solid var(--face-color-top);
	background: var(--main-bg);
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	top: -3px;
}

.oreja-izq {
	left: 10%;
	transform: rotate(-45deg);
}

.oreja-der {
	right: 10%;
	transform: rotate(45deg);
}

.ojo {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--black-color);
	position: absolute;
	top: 40%;
}

.ojo-izq {
	left: 20%;
}

.ojo-der {
	right: 20%;
}

.boca-hipo {
	width: 150px;
	height: 100px;
	background: var(--face-color-down);
	position: relative;
	top: -75px;
	border-radius: 60px 60px 50px 50px;
}

.fosa {
	height: 30px;
	width: 20px;
	background: var(--black-color);
	position: absolute;
	top: 18%;
	border-radius: 50%;
}

.fosa-izq {
	left: 15%;
	transform: rotate(45deg);
}

.fosa-der {
	right: 15%;
	transform: rotate(-45deg);
}